<!-- url "/words/new" --> 

<h1>Add a new word</h1>

<form action="/words" method="post">
	<div class="form-group">
  		<label for="inputword">  </label>
  		<input id="inputword" name="inputword" type="text" class="form-control">
  	</div>

  <button type="submit" class="btn btn-success">Add Entry</button>
</form>

